/***************** NAVBAR****************/

nav {
  background-color: #83c5be !important;
}

nav a.nav-link {
  font-size: 1rem;
  letter-spacing: 0.02rem;
  cursor: pointer;
  color: #264653 !important;
  margin-right: 1rem;
}

header {
  background-color: #264653;
  color: #ddbea9;
  padding: 1rem;
  padding-left: 5rem;
}

footer {
  background-color: #264653;
  color: #ddbea9;
  padding: 1rem;
  padding-left: 5rem;
}

pic-container {
  margin-left: 1rem;
  padding-left: 1rem;
}

about-container {
  background-color: #ddbea9 !important;
  max-width: 60%;
  padding: 3rem;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  padding: 2rem;
}
